@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  background-color: #f8f8e0;
  overflow-x: hidden; }

header {
  width: 100%;
  background-image: url("./assets/header/background-pattern.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 20px; }

.header-logo {
  width: 100%;
  text-align: center;
  margin-bottom: 30px; }

.header-ilustration {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header-ilustration img {
    width: 80%; }

.swiper-slide {
  box-shadow: 0px 4px 12px rgba(224, 219, 191, 0.6);
  border-radius: 11px;
  height: initial !important; }

.swiper-wrapper {
  padding: 5px; }

.header-info {
  text-align: center; }
  .header-info h1 {
    font-size: 120px;
    color: #f8f8e0;
    font-weight: 900;
    line-height: 100px; }
  .header-info h2 {
    font-size: 48px;
    color: #ffc024;
    font-weight: 900; }
  .header-info p {
    font-size: 16px;
    color: white;
    margin: 20px 0 40px 0;
    font-weight: 500; }

.section-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px 0;
  padding: 16px; }
  .section-header h1 {
    font-size: 24px;
    font-weight: 900; }
  .section-header p {
    font-size: 16px;
    margin-top: 16px;
    font-weight: 500; }

#main {
  text-align: center;
  padding-bottom: 30px; }
  #main .button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px; }

button {
  border-radius: 50px;
  background-color: #1820ef;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1.78px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: none;
  color: #ffffff;
  cursor: pointer; }
  button:hover {
    opacity: 0.9; }
  button:disabled {
    background-color: #c5c5c5; }
    button:disabled:hover {
      opacity: 1; }

.card {
  padding: 30px;
  text-align: center;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 11px; }
  .card h4 {
    font-size: 20px;
    color: #1820ef;
    font-weight: 900;
    margin-top: 20px; }
  .card p {
    font-size: 14px;
    margin-top: 10px;
    font-weight: 500; }
  .card .price {
    font-size: 20px;
    color: #ff4e42;
    font-weight: 900;
    margin-top: auto;
    padding-top: 20px; }

.active {
  background: #1820ef;
  color: white; }
  .active h4 {
    color: white; }
  .active .price {
    color: #ffc024; }

.swiper-pagination {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: inherit !important;
  margin-top: 40px; }

.swiper-pagination-bullet {
  background: #e0dbbf;
  margin: 24px 5px;
  width: 12px !important;
  height: 12px !important;
  border-radius: 8px;
  transform: rotate(180deg);
  float: left;
  text-decoration: none; }

.swiper-pagination-bullet-active {
  background: #ff4e42 !important;
  width: 36px !important;
  border-radius: 8px !important;
  transition: 600ms; }

.success-page {
  display: block;
  height: auto; }
  .success-page .logo-img {
    width: 150px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 30px; }
  .success-page h1 {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    font-weight: 900; }
  .success-page h2 {
    font-size: 20px;
    text-align: center; }
  .success-page h6 {
    font-size: 20px;
    font-weight: 900;
    text-align: center; }
  .success-page p {
    font-size: 16px;
    text-align: center;
    font-weight: 500; }

.order-illustration {
  padding: 100px 20px;
  flex: 1;
  background: url("./assets/header/blue-background.svg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .order-illustration h1 {
    color: #ffc024; }
  .order-illustration h6 {
    color: white; }

.order-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  padding: 100px 20px; }
  .order-status img {
    padding-bottom: 20px; }
  .order-status h1 {
    color: #ff4e42;
    padding-top: 15px; }
  .order-status h2 {
    color: #ffc024; }
  .order-status button {
    margin-top: 60px; }

.flex {
  display: flex; }

.center-elements {
  align-items: center;
  justify-content: center; }

.p-2 {
  padding: 2px; }

.p-6 {
  padding: 6px; }

.p-10 {
  padding: 10px; }

.ml-30 {
  margin-left: 30px; }

.m-2 {
  margin: 2px; }

.m-6 {
  margin: 6px; }

.m-10 {
  margin: 10px; }

.mt-100 {
  margin-top: 100px; }

.hide-mobile {
  display: none; }

@media (min-width: 768px) {
  #main {
    padding: 60px; }
  .header-logo {
    text-align: left; }
  header {
    padding: 24px 20px 70px 20px; }
  .header-ilustration img {
    max-width: 666px;
    margin-left: 10%;
    width: 50%; }
  .header-text {
    display: flex;
    align-items: end; }
    .header-text h2 {
      writing-mode: vertical-rl; }
    .header-text h1 {
      font-size: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px; }
    .header-text p {
      font-size: 18px; }
  .header-info {
    width: 20%;
    position: absolute;
    text-align: left;
    top: 250px;
    left: 15%; }
  .hide-mobile {
    display: block; }
  .section-header {
    margin-top: 40px; }
    .section-header h1 {
      font-size: 24px; }
    .section-header p {
      font-size: 16px; }
  .success-page {
    display: flex;
    height: 100vh; }
    .success-page .logo-img {
      width: 150px;
      position: absolute;
      top: 0;
      left: 0;
      transform: none;
      margin: 30px; }
    .success-page h1 {
      font-size: 32px; }
    .success-page p {
      padding-top: 10px; } }

/* width */
::-webkit-scrollbar {
  width: 8px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff4e42; }
